<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.bitstudy.app.dao.MusicalMapper">

    <!-- 뮤지컬 총 개수 -->
    <select id="count" resultType="int">
        SELECT count(*) FROM musical_tbl
    </select>

    <!-- 뮤지컬 등록 - musicalDto 받아서 저장  -->
    <insert id="insert" parameterType="MusicalDto">
        INSERT into musical_tbl ( mu_id, mu_title, mu_prfpdfrom, mu_prfpdto, mu_venue, mu_poster, mu_genre)
        values ( #{mu_id}, #{mu_title}, #{mu_prfpdfrom}, #{mu_prfpdto}, #{mu_venue}, #{mu_poster}, #{mu_genre})
    </insert>

    <!--  뮤지컬 전체 삭제  -->
    <delete id="deleteAll">
        TRUNCATE musical_tbl
    </delete>

    <!-- 뮤지컬 한개 삭제 -->
    <delete id="delete" parameterType="String">
        DELETE FROM musical_tbl
        WHERE mu_id = #{mu_id}
    </delete>

    <!-- 뮤지컬 전부 가져오기 -->
    <select id="selectAll" resultType="MusicalDto">
        SELECT * FROM musical_tbl
    </select>

    <!-- 뮤지컬 제목 순으로 가져오기 -->
    <select id="selectAll_title" resultType="MusicalDto">
        SELECT * FROM musical_tbl
        ORDER BY mu_title
    </select>

    <!-- 뮤지컬 제목 역순으로 가져오기 -->
    <select id="selectAll_title_desc" resultType="MusicalDto">
        SELECT * FROM musical_tbl
        ORDER BY mu_title DESC
    </select>

    <!-- 뮤지컬 장르별로 가져오기 -->
    <select id="selectAll_genre" parameterType="String" resultType="MusicalDto">
        SELECT * FROM musical_tbl
        WHERE mu_genre = #{mu_genre}
    </select>

    <!-- 뮤지컬 (한개) 정보 불러오기 -->
    <select id="select" parameterType="String" resultType="MusicalDto">
        SELECT * FROM musical_tbl
        WHERE mu_id = #{mu_id}
    </select>

<!--    ===================================    -->

    <!-- 뮤지컬 제목으로 검색 -->
    <select id="search_title" parameterType="String" resultType="MusicalDto">
        SELECT * FROM musical_tbl
        WHERE mu_title LIKE CONCAT('%',#{keyword},'%')
    </select>

    <!--    -->
    <select id="rand_venue" resultType="String">
        SELECT DISTINCT mu_venue
        FROM musical_tbl
        ORDER BY RAND()
        LIMIT 3;
    </select>
</mapper>