<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.bitstudy.app.dao.PaymentMapper">


    <select id="selectAll" resultType="PaymentMethodDto">
        SELECT * FROM payment_musical_tbl;
    </select>

<!--    <select id="selectAll" resultType="PaymentMethodDto">-->
<!--        SELECT * FROM payment_musical_tbl;-->
<!--    </select>-->

<!--    <select id="selectAll" resultType="PaymentMethodDto">-->
<!--        SELECT * FROM payment_musical_tbl;-->
<!--    </select>-->
    <!--  카드 결제 정보 저장  -->
<!--    <insert id="cardPayment" parameterType="PaymentMethodDto">-->
<!--        insert into paymentMethod_tbl (pm_seqno, pm_method, pm_bank, pm_cardno, pm_cardcvc, pm_cardvaild)-->
<!--        values (#{pm_seqno}, #{pm_method}, #{pm_bank}, #{pm_cardno}, #{pm_cardcvc}, #{pm_cardvaild})-->
<!--    </insert>-->

<!--    &lt;!&ndash;  계좌(통장) 결제 정보 저장  &ndash;&gt;-->
<!--    <insert id="accountPayment" parameterType="PaymentMethodDto">-->
<!--        insert into paymentMethod_tbl (pm_seqno, pm_method, pm_bank, pm_account)-->
<!--        values (#{pm_seqno}, #{pm_method}, #{pm_bank}, #{pm_account})-->
<!--    </insert>-->

<!--    &lt;!&ndash;  결제 정보 수정  &ndash;&gt;-->
<!--    <update id="update" parameterType="PaymentMethodDto">-->
<!--        update paymentMethod_tbl set pm_method = #{pm_method}-->
<!--        where pm_seqno=#{pm_seqno}-->
<!--    </update>-->

    <!--    &lt;!&ndash;  결제 내역 확인  &ndash;&gt;-->
    <!--    <select id="selectByPmId" resultType="PaymentDto">-->
    <!--        select * from payment_tbl where p_seqno=#{p_seqno}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;  결제 회원 조회  &ndash;&gt;-->
    <!--    <select id="selectByUserId" resultType="PaymentDto">-->
    <!--        select * from payment_tbl where p_user_seqno=#{p_user_seqno}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;  예매id 확인  &ndash;&gt;-->
    <!--    <select id="selectByBookId" resultType="PaymentDto">-->
    <!--        select * from payment_tbl where p_book_seqno=#{p_book_seqno}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;  결제 방식 확인  &ndash;&gt;-->
    <!--    <select id="selectByPayment" resultType="PaymentDto">-->
    <!--        select * from payment_tbl where p_pm_seqno=#{p_pm_seqno}-->
    <!--    </select>-->

    <!--    &lt;!&ndash;  결제  &ndash;&gt;-->
    <!--    <insert id="paymentResult" parameterType="PaymentDto">-->
    <!--        insert into payment_tbl (p_seqno, p_price, p_date)-->
    <!--        values (#{p_seqno}, #{p_price}, #{p_date})-->
    <!--    </insert>-->

</mapper>