<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitstudy.app.dao.movieWishMapper">

    <select id="selectWM" parameterType="int" resultType="WishlistDto">
        select 'movie' as w_contentType,
               m.m_seqno as w_id,
               m.m_title as w_title,
               m.m_poster_url as  w_poster_url,
               m.m_genre_nm as w_genre,
               m.m_open_dt as w_start_date
        from movie_wish_tbl wm
        join movie_tbl m
        on wm.wm_m_seqno = m.m_seqno
        where wm.wm_u_id = #{u_seqno}
    </select>

    <insert id="insertWM" parameterType="map">
        insert into movie_wish_tbl (wm_u_id, wm_m_seqno)
        values (#{u_seqno}, #{m_seqno})
    </insert>

    <delete id="deleteWM" parameterType="map">
        delete from movie_wish_tbl
        where wm_u_id = #{u_seqno} and wm_m_seqno = #{m_seqno}
    </delete>

    <delete id="deleteByUserSeqno" parameterType="int">
        delete from movie_wish_tbl
        where wm_u_id = #{u_seqno}
    </delete>
</mapper>
