<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.app.dao.movieMapper">
    <!-- 나온 날짜순으로 다 불러오기  -->
    <select id="selectAll" resultType="MovieDto">
        select * from movie_tbl
    </select>

    <!--  무비코드로 하나 불러오기  -->
    <select id="select" parameterType="String" resultType="MovieDto">
        select * from movie_tbl
        where m_movie_cd=#{m_movie_cd}
    </select>

    <!--  장르별로 불러오기  -->
    <select id="selectByGenre" parameterType="String" resultType="MovieDto">
        select * from movie_tbl
        where m_genre_nm=#{m_genre_nm}
    </select>

    <!--  별점 높은순 으로 불러오기  -->
    <select id="selectByRating" resultType="MovieDto">
        select * from movie_tbl
        order by m_rating desc
    </select>

    <!--  인기 TOP10 불러오기  -->
    <select id="selectTOP10" resultType="MovieDto">
        select * from movie_tbl
            order by m_rating desc
                limit 10
    </select>

    <!--  영화 제목으로 검색하기  -->
    <select id="searchTitle" parameterType="String" resultType="MovieDto">
        select * from movie_tbl
        where m_title LIKE CONCAT('%',#{keyword},'%')
    </select>



    <!-- 여기아래로 안씀 -->
<!--    <delete id="delete">-->
<!--        truncate movie_tbl-->
<!--    </delete>-->
<!--    <insert id="insert" parameterType="MovieDto">-->
<!--        insert into movie_tbl (m_movie_cd, m_title, m_open_dt, m_show_tm, m_genre_nm, m_rating)-->
<!--        values (#{m_movie_cd}, #{m_title}, #{m_open_dt}, #{m_show_tm}, #{m_genre_nm}, #{m_rating})-->
<!--    </insert>-->

</mapper>

