<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">

<mapper namespace="com.bitstudy.app.dao.theaterMapper">
<!-- 시작 날짜순으로 다 불러오기  -->
<select id="selectAll" resultType="TheaterDto">
    select * from theater_tbl
</select>
<!--  곧 끝나는 작품들 불러오기  -->
<select id="selectAllByEndDate" resultType="TheaterDto">
    select * from theater_tbl
    order by t_end_date asc
</select>
<!--  theaterId로 하나 불러오기  -->
<select id="select" parameterType="String" resultType="TheaterDto">
    select * from theater_tbl
    where t_id=#{t_id}
</select>
<!--  장르별로 불러오기  -->
<select id="selectByGenre" parameterType="String" resultType="TheaterDto">
    select * from theater_tbl
    where =t_genre#{t_genre}
</select>

</mapper>

