<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/schema/mybatis-3-mapper.dtd">


<mapper namespace="com.bitstudy.app.dao.Seat_musicalMapper">

    <!-- 뮤지컬 mu_id와 s_label로 s_id 불러오기 -->
    <select id="select_s_id" parameterType="map" resultType="int">
        SELECT s_id
        FROM seat_musical_tbl
        WHERE mu_id = #{mu_id} AND s_label = #{s_label}
    </select>

    <!-- s_id 받아서 s_is_avilable true로 업데이트 -->
    <update id="update_true" parameterType="int">
        UPDATE seat_musical_tbl
        SET s_is_available = TRUE
        WHERE s_id = #{s_id} AND s_is_available = FALSE;
    </update>

    <!-- s_id 받아서 s_is_avilable false로 업데이트 -->
    <update id="update_false" parameterType="int">
        UPDATE seat_musical_tbl
        SET s_is_available = FALSE
        WHERE s_id = #{s_id} AND s_is_available = TRUE;
    </update>

    <!-- s_is_available false인 mu_id, s_label 불러오기  -->
    <select id="select_false" resultType="Map">
        SELECT mu_id, s_label
        FROM seat_musical_tbl
        WHERE s_is_available = 0;
    </select>
</mapper>