<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias alias="TheaterDto" type="com.bitstudy.app.domain.TheaterDto" />
        <typeAlias alias="UserDto" type="com.bitstudy.app.domain.UserDto" />
        <typeAlias alias="WishlistDto" type="com.bitstudy.app.domain.WishlistDto" />
        <typeAlias alias="RecentlistDto" type="com.bitstudy.app.domain.RecentlistDto" />
    </typeAliases>
</configuration>